.logout{
    display: flex;
    justify-content: center;
    text-align: center;
    color: green;
}
button{
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
.loginlink{
    color: white;

}
}