.userList {
  flex: 4;
}
.userListUser {
  display: flex;
  align-items: center;
  gap: 10px;
}
.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.userListEdit {
  border: none;
  background-color: rgb(104, 209, 104);
  padding: 5px 10px;
  color: whitesmoke;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-right: 10px;
}
.userListDelete {
  color: red;
  cursor: pointer;
}
